node_modules
/dist
/out
/src/res
.gitignore
.DS_Store
.prettierrc
package-lock.json

# local env files
.env.local
.env.*.local
.env.baidu

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?